
<div id="preguntas">
	<h3>Elije una pregunta</h3>
	<table>
	<tr>
	<th class="tabla">Tema</th>
	<th class="tabla">Pregunta</th>
	<% var i; for (i=0 ; i< quizes.length ; i++) { %>
  	 <tr>
  	 <td class="tabla"><%= quizes[i].tema %></td>
  	 <td class="tabla"><%= quizes[i].pregunta %></td>
  	 <td><a href="/quizes/<%= quizes[i].id %>"><input type="button" value="Ir a la pregunta"/></a></td>
  	 <td><a href="/quizes/<%= quizes[i].id %>/edit "><input type="button" value="Editar pregunta"/></a></td>
  	 <td><a href="/quizes/<%= quizes[i].id %>/delete "><input type="button" value="Borrar pregunta"/></a></td>
  	 </tr>
 	<% } %>
 	</table> 
</div>
<div id="busquedas">
	<h3>Buscar pregunta</h3>
	<form method="get" action="/quizes?search">
		<input type="text" name="search" placeholder="¿Que buscas?"/><br>
		<input type="submit" value="buscar">
	</form>
	<% if(quizes.length === 0) { %>
	<p> No existe ninguna pregunta con ese texto </p>
	<% } %>
 </div>
<div class="clear"></div>
<h3>Crear una nueva pregunta</h3>
<a href="/quizes/new"><button type="button">Crear</button></a>
